
/***********************************************
	TYPOGRAPHY RESPONSIVE STYLING
***********************************************/

/*#3d71bc - blue*/

	p, #resume li {
		font-size: 1.063em; /* 17px / 16 = 1.063em */
		line-height: 1.223; /* 1.3 / 1.063 = 1.223 */
		margin: .612em 0;
	}

	h1,h2,h3,h4,h5,h6 {
		font-weight: 100;
	}
			
	h1 {
		font-size: 3.189em;
		line-height: 1.223;

	}
		
	h2  {
		font-size: 2.126em;
		line-height: 1.223;
		font-weight: 600;
	 	color: #333;
	}
				
	h1, h2 {
		text-shadow: 0 2px 2px rgba(37, 37, 37, 0.65);
	}
				 
	h3 {
		font-size: 1.562em; 
		line-height: 0.832;
		font-family: 'Oswald';
	}
			    
	h4 {
		font-size: 1em;
		line-height: 1.56;
		text-transform: uppercase;
	}
			
	h3,h4 {      
		font-weight: 700;
		text-transform: uppercase;
	}
			
	h5 {
		font-size: .8125em;
		line-height: 1.125;
	}

	h5,h6 {
		font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
		font-size: .85em;
		line-height: 1.53;
		font-weight: 500;
	}

	h6 {
		color: #aaa;
		font-weight: 200;
	}

	.container.main_footer {
    padding-top: 25px;
    padding-bottom: 25px;
	}


/*********************************************
	CUSTOM CSS STYLES
*********************************************/

	/*Hover effects*/

		.hvr-grow {
	  display: inline-block;
	  vertical-align: middle;
	  -webkit-transform: translateZ(0);
	  transform: translateZ(0);
	  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	  -webkit-backface-visibility: hidden;
	  backface-visibility: hidden;
	  -moz-osx-font-smoothing: grayscale;
	  -webkit-transition-duration: 0.3s;
	  transition-duration: 0.3s;
	  -webkit-transition-property: transform;
	  transition-property: transform;
	}
	.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
	  -webkit-transform: scale(1.1);
	  transform: scale(1.1);
	}

	.productPrice {
    color: #c80002;
    font-size: 30px;
    font-weight: 100;
	}

	.container.header-main {
	    margin-top: 30px;
	}

	.container-fluid.strip-menu {
	    background-color: #333;
	    color: #fff;
	}

	.cta-footer {
    	margin: 0px auto;
	}

	.nav.navbar-nav {
	    clear: both;
	}

	.active-link > a {
    	color: #e01212 !important;
	}

	.btn-label {
    	padding-right: 25px;
	}

	.banner-home {
    	padding-top: 5px;
	}

	.btn-success {
    	background-color: #d3041c;
    	border-color: #fff;
    	background-image: none;
    	border-radius: 0px;
    }

    .btn-success:hover {
    	background-color: #333;
    	border-color: #fff;
    	color: #fff;
    	background-image: none;
    	border-radius: 0px;
    }

    .col-xs-.col-sm-.col-md-6.featuredTitle {
    	margin-left: -15px;
	}

	.container-fluid.call-now {
    	background-color: #c80002;
	}

/********************************************
	FEATURED ITEMS SLIDER
********************************************/

.featured_slider{
    margin-right: 2px;
    padding: 3px;
    margin-top: 20px;
}
.featured_slide {
    border: 1px solid #3d71bc;
    margin-right: 45px;
    max-width: 220px;
}
.product_title {
    width: 100%;
    background-color: #3d71bc;
    font-family: 'Open Sans';
    font-size: 14px;
    color: white;
    padding: 18px;
}

.product_title-best {
    width: 100%;
    background-color: #c80002;
    font-family: 'Open Sans';
    font-size: 14px;
    color: white;
    padding: 18px;
}

.product_title_link {
    color: white;
}
.product_title_link:hover {
    color: white;
}
.featured_slide .product_image {
}

.center-block.img-responsive {
    padding-top: 25px;
    padding-bottom: 25px;
}

.product_image {
	position: relative;
}

.product_image .overlay {
	display: none;
	background-color: rgba(0, 0, 0, 0.8);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.product_image:hover > .overlay {
	display: block;
	cursor: pointer;
}

.btn.btn-md.btn-block {
    width: 180px;
    padding: 15px;
    margin: 15% auto;
    border-radius: 0px;
    color: #fff;
    padding: 15px;
    border: 2px solid #fff;
    background-color: transparent;
}

.btn.btn-md.btn-block:hover {
	  -webkit-transform: translateZ(0);
	  transform: translateZ(0);
	  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	  -webkit-backface-visibility: hidden;
	  backface-visibility: hidden;
	  -moz-osx-font-smoothing: grayscale;
	  -webkit-transition-duration: 0.3s;
	  transition-duration: 0.3s;
	  -webkit-transition-property: transform;
	  transition-property: transform;
}

.price-product {
    text-align: center;
    color: #fff;
    padding-top: 10px;
}

.btn.btn-md.btn-block:hover, .btn.btn-md.btn-block:focus, .btn.btn-md.btn-block:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.best_slide {
	  border: 1px solid #3d71bc;
    margin-right: -3px;
}

/********************************************
	SEARCH BAR STYLING
********************************************/

	.col-xs-12.col-sm-6.col-md-3.search-bar {
	    float: right;
	    padding-top: 1em;
	}

	.input-lg {
	    height: 35px;
	    padding: 10px 20px;
	    font-size: 13px;
	    line-height: 1.3333333;
	    border-radius: 0px;
	}

	.btn-lg {
		padding: 7.5px 14px;
		font-size: 18px;
		line-height: 1.333333;
		border-radius: 0px;
	}

/********************************************
	Fluid Media
********************************************/

	figure {
	    position: relative;
	}

	img,
	object,
	embed {
	    display: block;
	    max-width: 100%; 
	}

	img {
	    border: 0;
	    -ms-interpolation-mode: bicubic;
	}

	/* 
	interpolation-mode
	http://css-tricks.com/ie-fix-bicubic-scaling-for-images/
	 */


/***************************************************
	Media Queries for screen LESS than 25em (320px)
***************************************************/
	
@media screen and (max-width: 25em) {

	.col-xs-12.col-sm-6.col-md-3.search-bar {
		padding-top: 1em;
		padding-left: 2em;
		padding-right: 2em;
		padding-bottom: 1.5em;
	}

	.navbar-toggle {
	    position: relative;
	    float: right;
	    padding: 10px 10px;
	    margin-top: 10px;
	    margin-right: 12px;
	    margin-bottom: 8px;
	    background-color: transparent;
	    border: 2px solid transparent;
	    border-radius: 0px !important;
	}

	#searchPicker {
    	margin-bottom: 35px;
	}

	.btn.dropdown-toggle.btn-default {
		padding: 25px;
		border-radius: 0px;
		width: 235px;
	}

	.btn-group.bootstrap-select {
		margin-top: 15px;
	}

	.featuredBrands {
	    background: #dc0822;
	    padding: 25px;
	    text-align: center;
	    width: 221px;
	    color: #fff;
	}

	.featured_slide {
	    border: 1px solid #3d71bc;
	    margin-right: 4.5px !important;
	    max-width: 220px;
	}

	.product_title {
	    width: 100%;
	    background-color: #3d71bc;
	    font-family: 'Open Sans';
	    text-align: center;
	    font-size: 10px !important;
	    color: white;
	    padding: 15px 15px 15px 5px;
	}

	.featured_slider {
	    margin-right: 8px !important;
	    padding: 5px !important;
	    margin-top: 20px !important;
	}


	.featured_products {
    	margin-top: 40px;
	}

	.best_items {
    	text-align: center;
	}

	.row.row-slider_featured {
    	margin-left: -12px;
	}

	.navbar-nav>li>a {
	    padding-top: 20px;
	    font-size: 1.8em;
	    font-weight: 600;
	    font-family: 'Oswald';
	}

	.active-link {
    background-color: #ababab;
    padding-bottom: 5px;
	}

	.cta-title {
    line-height: 1.3;
    text-align: center;
    color: #fff;
	}

	.container.main_footer {
    text-align: center;
	}

	img.logo_footer {
    margin: 0 auto;
	}

	.container-fluid.strip-menu {
    background-color: #333;
    color: #fff;
    text-align: center;
	}

	}

/**************************************************
    Media Queries for screen LESS than 45em (768px)
**************************************************/
	
	@media screen and (min-width: 45.5em) {

	.col-xs-.col-sm-.col-md-8.bestCarousel {
    padding-bottom: 25px;
	}
	.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
    margin-left: 10px;
	}

	.btn-success {
	margin-bottom: 20px;
	}

	.input-group[class*=col-] {
	    padding-right: 30px;
	    padding-left: 0;
	}

	.btn.dropdown-toggle.btn-default {
	    padding: 15px;
	    border-radius: 0px;
	}

	.cta-title {
	    color: #fff;
	    line-height: 1.3;
	    margin-top: 11%;
	}  

	h3#pickBrand {
    padding-top: 10px;
    padding-bottom: 15px;
	}

	.col-xs-12.col-sm-12.col-md-4.pickersTab {
    margin-bottom: 2%;
	}

	}
		
/***************************************************
	Media Queries for screen WIDER than 45em (720px)
***************************************************/

/*	@media screen and (min-width: 45em) {


	}*/

/***************************************************
	Media Queries for screen WIDER than 60em (960px)
***************************************************/
	
	@media screen and (min-width: 60em) {

		#bs-slide-dropdown {
    		margin-left: -41px !important;
		}

		.nav>li>a {
		    position: relative;
		    display: block;
		    font-size: 13px;
		    color: #333;
		    padding: 15px 15px;
		}

		.cart-label {
		    float: right;
		    margin-right: -30px;
		    padding-top: 15px;
		}

		.navbar {
			margin-bottom: 0px !important;
		}


		.btn.dropdown-toggle.btn-default {

			padding: 35px 35px 35px 35px;
		    border-radius: 0px;
		    width: 335px;
		    color: #fff;
		    font-size: 14px;
		    margin-top: 5px;
		    background-position: 20% 30%;
		    background-repeat: no-repeat;
		}

		#tiresOne .btn.dropdown-toggle.btn-default {

		    background: red;
		}

		#pickVehicle .btn.dropdown-toggle.btn-default {
			background-image: url('../imgs/pick-vehicle.jpg');
		}
		#pickTireSize .btn.dropdown-toggle.btn-default {
			background-image: url('../imgs/tyre-size.jpg');
		}
		#pickWheelSize .btn.dropdown-toggle.btn-default {
			background-image: url('../imgs/wheel-size.jpg');
		}
		#pickBrand .btn.dropdown-toggle.btn-default {
			background-image: url('../imgs/brand-pick.jpg');
		}

		.banner-cta {
    		padding-top: 12px;
		}

		.banner-cta_product {
    		padding-top: 5px;
		}

		.dropdown-menu.open {
		    width: 335px;
		    padding-bottom: 20px;
		    border-radius: 0px;
		    padding-left: 15px;
		}

		.dropdown-menu>li>a:hover {
		    color: #ed0f2b;
		    text-decoration: none;
		    text-decoration: none;
    		background-color: #fff;

		}

		.dropdown-menu>li>a:hover {
			background-color: none;
			background-image: none;
		}

		.open>.dropdown-toggle.btn-default:focus, .open>.dropdown-toggle.btn-default:hover {
    		color: #ffffff;
		}

		.bootstrap-select.btn-group .dropdown-menu li a {
		    cursor: pointer;
		    padding-top: 15px;
		}

		.input-group[class*=col-] {
		    float: none;
		    padding-right: 18px;
		    padding-left: 0;
		}

		.navbar-nav {
    		margin-left: 6%;
		}

		.logo-main {
    		margin-left: 13%;
		}

		.btn.btn-labeled.btn-success {
		    float: right;
		    padding: 10px 22px;
		    margin-right: -3%;
		    margin-bottom: 0px;
		    box-shadow: inset 0px 1px 0px 0px #c80002;
		    background: linear-gradient(to bottom, #c80002 7%, #2b2b2b 114%);
		    border-radius: 3px;
		    cursor: pointer;
		    text-shadow: 0px 1px 0px #cccc;
			}

			#rightSlide {
		    margin-right: -6px;
		    margin-left: 9px;
			}

			#leftSlide {
		    margin-left: -13px;
		    margin-right: 17px;
			}

	    .featuredBrands {
		    background: #dc0822;
		    padding: 14px;
		    text-align: center;
		    width: 334px;
		    color: #fff;
		}

		hr {
		    margin-top: 20px;
		    margin-bottom: 20px;
		    border: 0;
		    border-top: 1px solid #565454;
		}

		/*Featured brands*/

		.brandOne {
    		padding-left: 82px;
		}

		.brandTwo {
    		padding-left: 27%;
		}

		.brandThree {
		    padding-left: 23%;
		}

		.brandFour {
		    padding-left: 20%;
		}

		.brandFive {
		    padding-left: 19%;
		}

		.brandSix {
		    padding-left: 23%;
		}

		.brandSeven {
		    padding-left: 27%;
		}

		.brandEight {
		    padding-left: 19%;
		}

		#brands-list {
		    border: 1px solid #c80002;
		    width: 335px;
		}

		.productOne {

		    margin-left: -15px;
		    margin-right: -10px;
		        padding: 40px 40px 40px 40px;
    border: 1px solid #ccc;
		}

		.productTwo {

		    margin-left: -15px;
		    margin-right: -10px;
		        padding: 40px 40px 40px 40px;
    border: 1px solid #ccc;

		}

		.productThree, .productFour {

		    margin-left: -15px;
		    margin-right: -15px;
		        padding: 40px 40px 40px 40px;
    border: 1px solid #ccc;

		}

		.arrows.box {
			float: right;
			margin-top: 20%;
		}

		.product-1 {
		    margin: 0 auto;
		}

		.product-2 {
		    margin: 0 auto;
		}

		.product-3 {
		    margin: 0 auto;
		}

		.product-4 {
		    margin: 0 auto;
		}

		.row.featureRow {
    		padding-top: 25px;
		}

		.productName {
			padding: 15px;
			background-color: #3d71bc;
			text-align: center;
			margin-left: -15px;
			margin-right: -10px;
		}

		#brands {
    		padding-bottom: 35px;
		}

		.col-xs-12.col-sm-6.col-md-6.productDescription_box {
		    margin-top: 1.5%;
		    margin-bottom: 5%;
		}

		.featured_products {
    		margin-left: -15px;
		}
        .col-xs-.col-sm-.col-md-6.bestTitle {
    		padding-top: 10px;
		}

		.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
		    margin-left: -15px;
		}

		.cta-title {
	    color: #fff;
	    line-height: 1.3;
	    margin-top: 11%;
	}                
	}
