<!-- ******************* -->
        <!-- BODY SECTION STARTS -->
        <!-- ******************* -->
        <div class="container">
        <div class="row">
        <div class="col-xs-12" id="searchPicker">

            <!-- SEARCH/PICKER -->
            <div class="col-xs-12 col-sm-12 col-md-4 pickersTab">
            <div class="col-xs-12 col-sm-4 col-md-12" id="pickVehicle">
            <h3 class="visible-xs hidden-md"> SEARCH FOR...</h3>
             <form action="http://stores.ebay.com/tiresbyweb/_i.html" class="search-form custom-search" method="get">
                <select title="PICK VEHICLE" class="selectpicker make-custom">
                    <option>Select...</option>
                    <option data-icon="glyphicon glyphicon-share-alt" data-subtext="">LOREM IPSUM DESCRIPTION</option>
                    <option data-icon="glyphicon glyphicon-share-alt" data-subtext="">LOREM IPSUM DESCRIPTION</option>
                    <option data-icon="glyphicon glyphicon-share-alt" data-subtext="">LOREM IPSUM DESCRIPTION</option>
                    <option data-icon="glyphicon glyphicon-share-alt" data-subtext="">LOREM IPSUM DESCRIPTION</option>
                    <option data-icon="glyphicon glyphicon-share-alt" data-subtext="">LOREM IPSUM DESCRIPTION</option>
                    <option data-icon="glyphicon glyphicon-share-alt" data-subtext="">LOREM IPSUM DESCRIPTION</option>
                </select>
            </div>

             <div class="col-xs-12 col-sm-4 col-md-12" id="pickTireSize">
                 <select title="PICK TIRE SIZE" class="selectpicker">
                    <option>Select...</option>
                    <option data-icon="glyphicon glyphicon-share-alt" data-subtext="">LOREM IPSUM DESCRIPTION</option>
                    <option data-icon="glyphicon glyphicon-share-alt" data-subtext="">LOREM IPSUM DESCRIPTION</option>
                    <option data-icon="glyphicon glyphicon-share-alt" data-subtext="">LOREM IPSUM DESCRIPTION</option>
                    <option data-icon="glyphicon glyphicon-share-alt" data-subtext="">LOREM IPSUM DESCRIPTION</option>
                    <option data-icon="glyphicon glyphicon-share-alt" data-subtext="">LOREM IPSUM DESCRIPTION</option>
                </select>
            </div>

             <div class="col-xs-12 col-sm-4 col-md-12" id="pickWheelSize">
                 <select title="PICK WHEEL SIZE" class="selectpicker">
                    <option>Select...</option>
                    <option data-icon="glyphicon glyphicon-share-alt" data-subtext="">LOREM IPSUM DESCRIPTION</option>
                    <option data-icon="glyphicon glyphicon-share-alt" data-subtext="">LOREM IPSUM DESCRIPTION</option>
                    <option data-icon="glyphicon glyphicon-share-alt" data-subtext="">LOREM IPSUM DESCRIPTION</option>
                    <option data-icon="glyphicon glyphicon-share-alt" data-subtext="">LOREM IPSUM DESCRIPTION</option>
                    <option data-icon="glyphicon glyphicon-share-alt" data-subtext="">LOREM IPSUM DESCRIPTION</option>
                </select>
            </div>

             <div class="col-xs-12 col-sm-4 col-md-12" id="pickBrand">
                 <select title="PICK BRAND" class="selectpicker">
                    <option>Select...</option>
                    <option data-icon="glyphicon glyphicon-share-alt" data-subtext="">LOREM IPSUM DESCRIPTION</option>
                    <option data-icon="glyphicon glyphicon-share-alt" data-subtext="">LOREM IPSUM DESCRIPTION</option>
                    <option data-icon="glyphicon glyphicon-share-alt" data-subtext="">LOREM IPSUM DESCRIPTION</option>
                    <option data-icon="glyphicon glyphicon-share-alt" data-subtext="">LOREM IPSUM DESCRIPTION</option>
                </select>
                </form>
            </div>

            <div class="hidden-xs hidden-sm col-md-12" id="brands">

                <h4 class="featuredBrands">FEATURED BRANDS</h4>

                <div class="col-xs-12" id="brands-list">
                    <a href="#"><img class="brandOne img-responsive" src="http://cdn.e-motiveonline.com/tiresbyweb/imgs/gear.jpg"></a>
                    <a href="#"><img class="brandTwo img-responsive" src="http://cdn.e-motiveonline.com/tiresbyweb/imgs/dropstars.jpg"></a>
                    <a href="#"><img class="brandThree img-responsive" src="http://cdn.e-motiveonline.com/tiresbyweb/imgs/multi.jpg"></a>
                    <a href="#"><img class="brandFour img-responsive" src="http://cdn.e-motiveonline.com/tiresbyweb/imgs/nitto.jpg"></a>
                    <a href="#"><img class="brandFive img-responsive" src="http://cdn.e-motiveonline.com/tiresbyweb/imgs/nokian.jpg"></a>
                    <a href="#"><img class="brandSix img-responsive" src="http://cdn.e-motiveonline.com/tiresbyweb/imgs/verdeisten.jpg"></a>
                    <a href="#"><img class="brandSeven img-responsive" src="http://cdn.e-motiveonline.com/tiresbyweb/imgs/xd.jpg"></a>
                    <a href="#"><img class="brandEight img-responsive" src="http://cdn.e-motiveonline.com/tiresbyweb/imgs/american-racing.jpg"></a>
                </div>

            </div>
                </form>
            </div><!-- END LEFT COLUMN SIDEBAR -->

        <!-- BANNER STARTS -->
        <div class="col-xs-# col-sm-# col-md-8 hidden-xs">
           <div class="row">
            <img class="banner-home" src="http://cdn.e-motiveonline.com/tiresbyweb/imgs/banner.jpg" class="img-responsive">
           </div>
        </div><!-- BANNER ENDS-->

        <!-- CTA SECTION STARTS -->
        <div class="col-xs-# col-sm-# col-md-8 hidden-xs">
           <div class="row">
            <img class="banner-cta" src="http://cdn.e-motiveonline.com/tiresbyweb/imgs/cta-section.jpg" class="img-responsive">
           </div>
        </div><!-- CTA SECTIONS ENDS -->

        <!-- FEATURED PRODUCTS SLIDER -->
        <div class="col-xs- col-sm- col-md-8 featuredCarousel">
                <div class="row">
                    <div class="col-xs-12 col-sm- col-md-10 featuredTitle">
                        <h3 class="featured_products">FEATURED PRODUCTS</h3>
                    </div><!-- END TITLE PRODUCT -->

                    <div class="col-xs-# col-sm-# col-md-2 arrowsCarousel">
                        <div class="col-xs-12 arrows box">
                            <i class="cycle-prev glyphicon glyphicon-menu-left"></i>
                            <i class="cycle-next glyphicon glyphicon-menu-right"></i>
                        </div>
                    </div><!--END ARROWS -->
                </div>

                <div class="row row-slider_featured">
                    <div class="">
                        <div class="featured_slider"
                         data-cycle-prev=".cycle-prev"
                         data-cycle-next=".cycle-next"
                         data-cycle-fx=carousel
                         data-cycle-slides="> div"
                         data-cycle-carousel-visible=3
                         data-cycle-pause-on-hover="true"
                         data-cycle-carousel-fluid=true>
                            <div class="featured_slide">
                                <div class="product_image">
                                    <img class="center-block img-responsive" src="http://cdn.e-motiveonline.com/tiresbyweb/imgs/img4.jpg">
                                    <div class="overlay">
                                    <h3 class="price-product">$ 55.00</h3>
                                    <a class="btn btn-md btn-block" href="#" title="productx1">ADD TO CART</a>
                                     
                                   
                                    </div>
                                </div>
                                <div class="product_title">
                                    <a class="product_title_link" href="#">Lorem ipsum lorem ipsum</a>
                                </div>
                            </div>
                            <div class="featured_slide">
                                 <div class="product_image">
                                    <img class="center-block img-responsive" src="http://cdn.e-motiveonline.com/tiresbyweb/imgs/img4.jpg">
                                    <div class="overlay">
                                    <h3 class="price-product">$ 55.00</h3>
                                    <a class="btn btn-md btn-block" href="#" title="productx1">ADD TO CART</a>
                                    
                            
                                    </div>
                                </div>
                                <div class="product_title">
                                    <a class="product_title_link" href="#">Lorem ipsum lorem ipsum</a>
                                </div>
                            </div>
                            <div class="featured_slide">
                                 <div class="product_image">
                                    <img class="center-block img-responsive" src="http://cdn.e-motiveonline.com/tiresbyweb/imgs/img4.jpg">
                                    <div class="overlay">
                                    <h3 class="price-product">$ 55.00</h3>
                                    <a class="btn btn-md btn-block" href="#" title="productx1">ADD TO CART</a>

                              
                                    </div>
                                </div>
                                <div class="product_title">
                                    <a class="product_title_link" href="#">Lorem ipsum lorem ipsum</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- ROW ENDS -->
        </div><!-- FEATURED PRODUCTS ENDS -->

        <!-- BEST ITEMS -->
        <div class="col-xs- col-sm- col-md-8 bestCarousel">
                <div class="row top-best_row">
                    <div class="col-xs- col-sm- col-md-6 featuredTitle">
                        <h3 class="best_items">BEST PRODUCTS</h3>
                    </div><!-- END TITLE PRODUCT -->
                </div>

                <div class="row">
                    <div class="">
                            <div class="col-xs-12 col-sm-4 col-md-4">
                            <div class="best_slide left" id="leftSlide">
                                <div class="product_image">
                                    <img class="center-block img-responsive" src="http://cdn.e-motiveonline.com/tiresbyweb/imgs/img4.jpg">
                                    <div class="overlay">
                                    <h3 class="price-product">$ 55.00</h3>
                                    <a class="btn btn-md btn-block" href="#" title="productx1">ADD TO CART</a>
                                    </div>
                                </div>
                                <div class="product_title-best">
                                    <a class="product_title_link" href="#">Lorem ipsum lorem ipsum</a>
                                </div>
                            </div>
                            </div><!--END [4] COL -->

                           <div class="col-xs-12 col-sm-4 col-md-4">
                            <div class="best_slide">
                                <div class="product_image">
                                    <img class="center-block img-responsive" src="http://cdn.e-motiveonline.com/tiresbyweb/imgs/img4.jpg">
                                    <div class="overlay">
                                    <h3 class="price-product">$ 55.00</h3>
                                    <a class="btn btn-md btn-block" href="#" title="productx1">ADD TO CART</a>
                                    </div>
                                </div>
                                <div class="product_title-best">
                                    <a class="product_title_link" href="#">Lorem ipsum lorem ipsum</a>
                                </div>
                            </div>
                            </div><!--END [4] COL -->

                            <div class="col-xs-12 col-sm-4 col-md-4">
                                <div class="best_slide right" id="rightSlide">
                                    <div class="product_image">
                                        <img class="center-block img-responsive" src="http://cdn.e-motiveonline.com/tiresbyweb/imgs/img4.jpg">
                                        <div class="overlay">
                                            <h3 class="price-product">$ 55.00</h3>
                                            <a class="btn btn-md btn-block" href="#" title="productx1">ADD TO CART</a>
                                        </div>
                                    </div>
                                        <div class="product_title-best">
                                            <a class="product_title_link" href="#">Lorem ipsum lorem ipsum</a>
                                        </div>
                                </div>
                            </div><!--END [4] COL -->

                        </div><!-- END CONTAINER -->
                    </div>
                </div><!-- ROW ENDS -->
        </div><!-- BEST PRODUCTS ENDS -->
        </div>
        </div><!-- CONTAINER ENDS -->

        <div class="container-fluid call-now">
            <div class="row">
                <div class="container">
                    <div class="col-xs-12 col-sm-8 col-md-8">
                        <h3 class="cta-title">QUESTIONS? FOR MORE INFORMATION CALL US NOW! 800 576 1009!</h3>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4">
                        <img class="cta-footer" src="http://cdn.e-motiveonline.com/tiresbyweb/imgs/phone-cta.png" class="img-responsive">
                    </div>
                </div>
            </div>
        </div>

        <!-- FOOTER MAIN -->
        <div class="container main_footer">
            <div class="row">
                <div class="container">
                    <div class="col-xs-12 col-sm-4 col-md-4">
                        <img class="logo_footer" src="http://cdn.e-motiveonline.com/tiresbyweb/imgs/footer-logo.png" class="img-responsive">
                        <p>CONTACT DETAILS</p>
                        <p>PHONE: 800 576 1009</p>
                    </div>

                <div class="col-xs-12 col-sm-4 col-md-4">
                    <p>USEFUL LINKS</p>
                    <p>HOME</p>
                    <p>ABOUT</p>
                    <p>PRODUCTS</p>
                </div>

                <div class="col-xs-12 col-sm-4 col-md-4">
                    <p>WE ACCEPT</p>
                    <img class="payment_method" src="http://cdn.e-motiveonline.com/tiresbyweb/imgs/method.jpg" class="img-responsive">
                </div>
                </div><!-- CONTAINER ENDS -->
            </div><!-- ROW ENDS -->
        </div><!-- FOOTER ENDS -->

        <div class="container-fluid strip-menu">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <p><a href="#">HOME</a>  <a href="#">ABOUT</a>  <a href="#">ROAD HAZARD</a> <a href="#">PRIVACY POLICY</a> <a href="#">SHIPPING</a></p>
                    </div>
                </div>
            </div>
        </div><!-- STRIP MENU ENDS -->

	</body>
</html>